<div style="padding:10px; background-color:#4c4a89;border-radius: 14px;">
  <img src="/assets/images/SFDOCommons_Program_Badge_160.png" style="float:left;margin-right:10px;" alt="Salesforce.org Commons badge"/>
  Building technology together. The Salesforce.org Commons is a community based approach to innovation on the Salesforce platform for Nonprofits and Schools. <br/><br/>
  <em>© Copyright 2025 Salesforce, Inc. <a href="https://www.salesforce.com/company/legal/">All rights reserved.</a>
    Various trademarks held by their respective owners. Salesforce Tower, 415 Mission Street, 3rd Floor, San Francisco, CA 94105, United States.
    <p>Use of this source code is governed by a <a href="https://github.com/SFDO-Community-Sprints/sfdo-community-sprints.github.io/blob/main/LICENSE">BSD Revised license.</a></p>
    <p> <a href="https://www.salesforce.com/company/legal/">Legal, </a>
    <a href="https://www.salesforce.com/company/legal/sfdc-website-terms-of-service/">Terms of Service, </a>
    <a href="https://www.salesforce.com/company/privacy/">Privacy Information, </a>
    <a href="https://www.salesforce.com/company/disclosure/">Responsible Disclosure, </a>
    <a href="https://trust.salesforce.com/en/">Trust, </a>
    <a href="https://www.salesforce.com/form/contact/contactme/?d=70130000000EeYa">Contact</a>
  </em>
</div>
