<div style="padding:10px; background-color:#4c4a89;border-radius: 14px;">
  <img
    src="/assets/images/SFDOCommons_Program_Badge_160.png"
    style="float:left;margin-right:10px;"
    alt="Salesforce.org Commons badge"
  />
  Building technology together. The Salesforce.org Commons is a community based approach to innovation on the Salesforce platform for Nonprofits and Schools. <br /><br />
  <em
    >Copyright 2022, Salesforce.org. All rights reserved. Use of this source
    code is governed by a
    <a
      href="https://github.com/SFDO-Community-Sprints/sfdo-community-sprints.github.io/blob/main/LICENSE"
      >BSD Revised license.</a
    ></em
  >
</div>
